@mixin animation($prop...) {
  -o-animation: $prop;
  -moz-animation: $prop;
  -ms-animation: $prop;
  -webkit-animation: $prop;
  animation: $prop;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($prop...) {
  -o-transform: $prop;
  -moz-transform: $prop;
  -webkit-transform: $prop;
  -ms-transform: $prop;
  transform: $prop;
}

@mixin transition($prop...) {
  -o-transition: $prop;
  -moz-transition: $prop;
  -webkit-transition: $prop;
  -ms-transition: $prop;
  transition: $prop;
}

@mixin opacity($opacity) {
  $IEValue: $opacity * 100;
 opacity: $opacity;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $IEValue + ")";
 filter: alpha(opacity = $IEValue);
}
