$color-black: #191C25;
$color-green: #99cc01;
$color-white: #FFFFFF;

$background-color-black: $color-black;
$background-color-white: $color-white;
$background-color-green: $color-green;

$font-open-sans: 'Open Sans', sans-serif;
