<div id="artists">
  <h1>Top {{numTop}} Artists</h1>
  <div class="content-artists"
       ng-repeat="artist in vm.artists | limitTo: numTop"
       ng-class="($index == 0) ? 'gr-6 gr-12@mobile gr-6@tablet' : 'gr-2 gr-6@mobile gr-3@tablet'" >
      <a href="#">
        <img ng-src="{{artist.image[4]['#text']}}" />
        <span class="top-number">{{$index + 1}}</span>
        <span>{{artist.name}}</span>
      </a>
  </div>
</div>
