<div id="tracks">
  <h1>Top {{numTop}} Tracks</h1>
  <ul>
    <li ng-repeat="track in vm.tracks | limitTo: numTop">
      <a ng-href="{{track.url}}">
        <div class="gr-1 gr-2@mobile">
          <span class="top-number">{{$index + 1}}</span>
        </div>
        <div class="gr-1 gr-3@mobile">
          <img ng-src="{{track.image[3]['#text']}}" />
        </div>
        <div class="gr-10 gr-7@mobile details">
          <span>{{track.name}}</span>
          <span>{{track.artist.name}}</span>
        </div>
      </a>
    </li>
  </ul>
</div>
