#artists {
  .content-artists {
    overflow: hidden;
    height: 200px;
    position: relative;
    background-color: $background-color-green;
    &:nth-child(2) {
      height: 600px;
      img {
        max-width: 600px;
      }
    }
    &:hover {
      span {
        bottom: 0px;
        @include transition(0.8s);
      }
      img {
        max-width: 130%;
        @include transition(0.8s);
      }
    }
    img {
      max-width: 200px;
      min-height: 200px;
      float: left;
    }
    span {
      background-color: $background-color-green;
      color: $color-black;
      font-family: $font-open-sans;
      @include opacity(.7);
      font-size: 18px;
      height: 25px;
      position: absolute;
      bottom: -25px;
      left: 0px;
      width: 100%;
      padding-left: 5px;
    }
    .top-number {
      position: absolute;
      text-align: center;
      top: 0px;
      padding-left: 0px;
      width: 30px;
      height: 25px;
    }
  }
}
