#header {
  background-color: $background-color-white;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  .container {
    .logo {
      img {
        max-width: 100px;
      }
    }
    nav {
      ul {
        list-style: none;
        display: inline-block;
        li {
          height: 65px;
          padding: 35px 20px 0;
          display: inline-flex;
          border-left: 1px solid $color-green;
          border-right: 1px solid $color-green;
          &:hover {
            background-color: $background-color-green;
            @include transition(0.8s);
            a {
              color: $color-white;
            }
          }
          &.active {
            background-color: $background-color-green;
            @include transition(0.8s);
            a {
              color: $color-white;
            }
          }
          a {
            color: $color-black;
            text-decoration: none;
            font-family: $font-open-sans;
          }
        }
      }
    }
  }
}
