html {
	background: $background-color-black;
	height: 100%;
	width: 100%;
  body {
    @extend html;
		.container {
			max-width: 1200px;
			margin: 0 auto;
			width: 100%;
		}
		#content-music {
			padding-top: 120px;
		}
  }
}
