.loader {
	position: absolute;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	border-style: solid;
	border-radius: 50%;
	border-color: $color-green;
	@include animation(1s pulse infinite);
	@include transform(translate(-50%, -50%));
}

@keyframes pulse {
	0% {
		height: 0px;
		width: 0px;
		border-width: 32px;
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		height: 64px;
		width: 64px;
		border-width: 0px;
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
