#tracks {
  width: 100%;
  li {
    height: 100px;
    margin-top: 20px;
    border: 1px solid $color-green;
    &:hover {
      span {
        &.top-number {
          background-color: $background-color-white;
          @include transition(0.4s);
        }
      }
    }
    a {
      font-family: $font-open-sans;
      text-decoration: none;
      color: $color-white;
      img {
        float: left;
        max-width: 100px;
      }
      span {
        &.top-number {
          font-size: 40px;
          color: $color-black;
          background-color: $background-color-green;
          padding-top: 20px;
          height: 80px;
          text-align: center;
        }
        font-family: $font-open-sans;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        width: 100%;
        display: block;
      }
      .details {
        padding-left: 15px;
        span {
          &:nth-child(1) {
            padding-top: 15px;
            color: $color-white;
          }
        }
      }
    }
  }
}
